// * {
//     border: 1px solid black;
// }


#enDagHelaSkiten {
    padding-top: 4.2rem;
    font-family: $lato;
    

    #year {
        width: fit-content;
        margin: auto;
        font-size: 200%;
        font-weight: 900;
        color: $fontColor2;
    }

    #pilarSec {
        align-items: center;
        justify-content: center;
        gap: 0.8rem;
        margin-bottom: 0.5rem;

        #pilBak {
            margin-right: 1.8rem;
        }

        .pilar {
            align-items: center;
            justify-content: center;
            // color: $fontColor1;
            // background-color: $mainColor;
            color: $mainColor;
            background-color: $fontColor1;
            font-size: 2rem;
            font-weight: 900;
            border-radius: 1rem;
            width: 2rem;
            height: 1.9rem;

            #pil1 {
                transform: scaleX(0.7);
                padding-right: 0.3rem;
                padding-bottom: 0.23rem;
            }

            #pil2 {
                transform: scaleX(0.7);
                padding-left: 0.3rem;
                padding-bottom: 0.23rem;
            }

            #pil1a {
                transform: scaleX(0.7);
                padding-bottom: 0.23rem;
            }

            #pil2a {
                transform: scaleX(0.7);
                padding-bottom: 0.23rem;
            }

            &:hover {
                cursor: pointer;
                // background-color: $fontColor1;
                // color: $mainColor;
                background-color: $mainColor;
                color: $fontColor1;
            }
        }
    }


    #enDagContent {
        justify-content: space-around;

        .föreFöregåendeDag {
            opacity: 0.3;
            transform: scale(0.6);
            overflow-y: hidden;
        }

        .föregåendeDag {
            opacity: 0.6;
            transform: scale(0.8);
            overflow-y: hidden;
        }

        .nästaDag {
            opacity: 0.6;
            transform: scale(0.8);
            overflow-y: hidden;

        }

        .nästnästaDag {
            opacity: 0.3;
            overflow-y: hidden;
            transform: scale(0.6);
        }

        .theDay {
            // height: fit-content;
        }

        .enDagDagSec {


            border-radius: 0.8rem;
            width: 20%;
            padding: 0.9rem;
            height: 70vh;
            background-color: $mainColor;
            // overflow-y: hidden;
            // position: relative;

            // #showMore {
            //     border: 1px solid black;
            //     position: absolute;
            //     bottom: 0;
            //     width: fit-content;
            //     margin-left: auto;
            //     margin-right: auto;
            //     left: 0;
            //     right: 0;
            //     z-index: 1;
            //     background-color: $mainColor;
            //     color: $fontColor1;
            // }

            .dates {
                width: fit-content;
                margin: auto;
                color: $fontColor1;
                font-size: 300%;
                padding-bottom: 0.1rem;
            }

            .veckodag {
                width: fit-content;
                margin: auto;
                color: $fontColor1;
                font-weight: 700;
                font-size: 110%;
                padding-bottom: 0.6rem;
            }

            #addEventInput {
                border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
                background-color: white;
                color: $fontColor2;

                #closeButton {
                    color: rgb(255, 94, 94);
                    font-size: 150%;
                    float: right;
                    margin-top: -0.5rem;
                    margin-right: 0.3rem;
                    transform: scaleX(1.4);

                    &:hover {
                        cursor: pointer;
                        color: rgb(253, 0, 0);
                    }
                }

                #addEventRubbe {
                    font-weight: 900;
                    width: fit-content;
                    margin: auto;
                    padding: 0.9rem 0 0.9rem 0;
                }

                #deleteDiv {
                    width: fit-content;
                    margin: auto;

                    #delete {
                        text-decoration: none;
                        background-color: rgb(255, 72, 72);
                        color: white;
                        padding: 0 0.8rem 0.2rem;
                        border-radius: 1rem;

                        &:hover {
                            cursor: pointer;
                            background-color: rgb(253, 0, 0);
                        }
                    }

                    
                }

                #inputRubbeDiv {

                    #inputRubbe {
                        border-radius: 1rem;
                        border-color: $mainColor;
                        height: 1.5rem;
                        padding: 0rem 0.7rem;
                        width: 7rem;
                        margin-bottom: 1rem;
                        outline: 0;
                    }
                }

                #tidSec {
                    margin-bottom: 0.7rem;

                    #tid {
                        margin-right: 0.2rem;
                        margin-top: 0.23rem;
                    }

                    input {
                        border-radius: 0.9rem;
                        border-width: 0.16rem;
                        border-color: $mainColor;
                        padding: 0rem 0.4rem 0.2rem 0.5rem;
                        outline: 0;
                    }

                    #öh {
                        margin: 0.18rem 0.4rem;
                    }
                }

                #inputKategoriDiv {
                    margin-top: 0.4rem;
                    margin-left: 0.5rem;
                    margin-bottom: 1rem;

                    .dot {
                        border-radius: 1rem;
                        width: 0.6rem;
                        height: 0.6rem;
                        margin-top: 0.38rem;
                        margin-right: 0.1rem;
                    }

                    #jobbDot {
                        background-color: $jobbColor;
                    }

                    #fritidDot {
                        background-color: $fritidColor;
                    }

                    #asviktigtDot {
                        background-color: $asviktigtColor;
                    }

                    input {
                        margin-top: 0.3rem;
                        margin-right: 0.3rem;
                    }
                }

                #merInfoText {
                    margin-bottom: 1rem;
                    border-radius: 0.3rem;
                    padding: 0 0.3rem;
                    border-color: $mainColor;
                    border-width: 0.16rem;
                    width: -webkit-fill-available;
                }

                #submitDiv {
                    width: fit-content;
                    margin: auto;

                    #submitButton {
                        border-radius: 2rem;
                        padding: 0.6rem 0.9rem 0.4rem 0.9rem;
                        background-color: $mainColor;
                        color: $fontColor1;
                        font-weight: 600;
                        font-size: 110%;
                        border-width: 0.2rem;
                        margin-bottom: 0.2rem;
                        border-color: $mainColor;

                        &:hover {
                            cursor: pointer;
                            background-color: $fontColor1;
                            color: $mainColor;
                        }
                    }
                }



            }

            .enDagAddEventButton {
                border: 0.2rem solid white;
                color: $fontColor1;
                font-size: 150%;
                font-weight: 900;
                width: fit-content;
                padding: 0rem 0.515rem 0.1rem 0.515rem;
                margin: auto;
                margin-bottom: 0.4rem;
                border-radius: 9rem;

                &:hover {
                    cursor: pointer;
                    background-color: white;
                    color: $mainColor;
                }

            .enDagDagSecEventDiv {
                padding-bottom: 1rem;
                height: fit-content;
                border-radius: 0 0 0.8rem 0.8rem;
                overflow-y: scroll;


                // .enDagAddEventButton {
                //     border: 0.2rem solid white;
                //     color: $fontColor1;
                //     font-size: 150%;
                //     font-weight: 900;
                //     width: fit-content;
                //     padding: 0rem 0.515rem 0.1rem 0.515rem;
                //     margin: auto;
                //     margin-top: 0.3rem;
                //     border-radius: 9rem;
                }

                .EventsPerDay {}
            }
            #switchBlackWhite {
                height: 51.2vh;
                overflow-y: scroll;

                #space {
                    height: 1.2rem;
                }
            }
        }
    }
}







// #linearwrap {
//     background: linear-gradient(to right, black, black, white);
//     padding-bottom: 1px;
// }

// #bajs {
//     background: white;
//     padding-bottom: 0.3rem;
//     width: 15rem;
// }

// #arrow {
//     // transform: rotate(90deg);
//     width: fit-content;
// }

// #rubbeSec {
//     display: flex;
//     gap: 0.2rem;
//     margin: 0.09rem 0 0.2rem 0.3rem;
// }

// #rubbeBoll {
//     border-radius: 1rem;
//     width: 1.18rem;
//     height: 1.1rem;
// }

.flex {
    display: flex;
}

::-webkit-scrollbar {
    width: 0px;
}

// {
//     position: fixed;
//     z-index: 1;
//     transform: translateY(-865%);
// }