@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$lato: 'Lato',
sans-serif;

$mainColor: rgb(48, 47, 47);
$fontColor1: rgb(255, 255, 255);

$jobbColor: rgb(211, 191, 79);
$fritidColor: rgb(88, 173, 77);
$asviktigtColor: rgb(194, 95, 95);

// * {
//     border: 1px solid black;
// }

#kategoriSecRubbe1 {
    font-family: $lato;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 8.5rem;

    #kategoriSecRubbe {
        width: fit-content;
        color: white;
        font-size: 1.4rem;
        font-weight: 900;
        margin: auto;
    }
}

#removehehe {
    font-family: $lato;

    .valdKategoriEventsSec {
        background-color: $mainColor;
        padding: 0.5rem 0.5rem 0.8rem 0.5rem;

        .rubrikDate {
            color: white;
            font-size: 130%;
            font-weight: 700;
        }


        .dayEvents {
            gap: 1rem;
            margin: 0 1rem;

            #linearwrap {
                width: 10%;

                #bajs {

                    #eventTime {}

                    #edit {
                        transform: scale(0.7);
                    }

                    #rubbeSec {

                        #eventRubrik {}

                        #arrow {}
                    }
                }
            }
        }


    }
}

.flex {
    display: flex;
}